.App {
  text-align: center;
}

.header-container{
  background-color: black;
}

input {
  font-family: 'Inconsolata', Roboto Mono, monospace;
  background-color: #E4FDE1 !important;
}

body{
  background-color: #75485E;
  font-family: 'Inconsolata', Roboto Mono, monospace;
  color: #E4FDE1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-link{
  font-size: 3vh;
  color: #E4FDE1 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-head{
  font-family: 'Major Mono Display', monospace;
  font-size: 5vh;
  padding-right: 7vh;
  color: #E4FDE1 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
